<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
      {{title}}
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
  <!-- <app-admin-user></app-admin-user> -->
</div>